.painel-admin {
    max-width: 900px;
}
.painel-admin h2 {
    margin-top: 16px;
}

.bloco-admin {
    margin: 16px 0;
}

.card-admin {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 16px 0;
}
.card-admin article {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 16px;
}
.card-admin h3{
    margin-top: 0;
}

button{
    margin-right: 8px ;
    margin-top: 8px;
    padding: 8px 16px;
}

@media(min-width: 600px){
    .card-admin{
        grid-template-columns: repeat(3,1fr);
    }
}