<!-- <h2>
Produto Selecionado:
@if (produtoSelecionado()) {
    <strong style="color: green;" >
    {{produtoSelecionado()}}
    </strong>
}@else {
    <span style="color: grey"> Nenhum </span>
}
</h2>

<h2> Produto: </h2>

@if (carregando()) {
   <p>Carregando produtos...</p>
}
@if (!carregando()) {
    @for (item of produtos(); track item.nome) {
        <app-produto
         [nome] = "item.nome"
         [preco] = "item.preco"
         (produtoSelecionado)= "exibirProduto($event)"
        ></app-produto>
        
        <button (click)="adicionarAoCarrinho(item)">Adicionar ao Carrinho</button>

    }
}

<p><button (click)="adicionarProduto()">Adicionar Produto</button></p>
<h2>Total de produtos: {{totalProdutos()}}</h2>
<h3>Valor total: {{valorTotal() |precoFormatado}}</h3> 
<p><button (click)="subtituiProdutos()">Substituir Produtos</button></p>
<hr>
 -->

<h2> Produtos: </h2>

<!-- Estado Um-->
@if(carregando()) {
    <p>Carregando Produtos...</p>
}
<!-- Estado Dois-->
 @if(erro()) {

    <p style="color:red">{{ erro() }}</p>
    <button (click)="carregarProdutos()">Tentar Novamente </button>
 }

 @if (!carregando() && !erro()) {
    <p>Toral de Produtos: {{ totalProdutos() }}</p>
    
<hr>
<section class="grid-produtos">
 @for(item of produtos(); track $index){
    <app-produto
    [nome] = "item.nome"
    [preco] = "item.preco"
    (produtoSelecionado)="exibirProduto($event)"
    (produtoAdicionado)="adicionarAoCarrinho($event)"
    >
    </app-produto>
 }
</section>
 }
 

<!-- <h2>Carrinho</h2>
@for(item of carrinhoFacade.itensCarrinho(); track $index){
    <p>{{ item.nome | uppercase }} - {{ item.preco | precoFormatado}}</p>
}
<p><strong> Itens no Carrinho:</strong>{{ carrinhoFacade.quantidadeCarrinho() }}</p>
<p><strong> Total no Carrinho:</strong>{{ carrinhoFacade.totalCarrinho() | precoFormatado }}</p> -->
