<h2>
Produto Selecionado:
@if (produtoSelecionado()) {
    <strong style="color: green;" >
    {{produtoSelecionado()}}
    </strong>
}@else {
    <span style="color: grey"> Nenhum </span>
}
</h2>

<!-- Atualização de  template para usar a sintaxe moderna do Angular e exibir o estado de carregamento: -->
<h2> Produto: </h2>

@if (carregando()) {
   <p>Carregando produtos...</p>
}
@if (!carregando()) {
    @for (item of produtos(); track item.nome) {
        <app-produto
         [nome] = "item.nome"
         [preco] = "item.preco"
         (produtoSelecionado)= "exibirProduto($event)"
        ></app-produto>
        
        <button (click)="adicionarAoCarrinho(item)">Adicionar ao Carrinho</button>

    }
}

<p><button (click)="adicionarProduto()">Adicionar Produto</button></p>
<h2>Total de produtos: {{totalProdutos()}}</h2>
<h3>Valor total: {{valorTotal() |precoFormatado}}</h3> 
<p><button (click)="subtituiProdutos()">Substituir Produtos</button></p>
<hr>




<h2>Carrinho</h2>
@for(item of carrinho(); track $index){
    <p>{{ item.nome | uppercase }} - {{ item.preco | precoFormatado}}</p>
}
<p><strong> Itens no Carrinho:</strong>{{quantidadeCarrinho()}}</p>
<p><strong> Total no Carrinho:</strong>{{totalCarrinho()| precoFormatado}}</p>
